{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">글쓰기</h5>
<!--    <form method="post" class="my-3">-->
<!--        {{ form.csrf_token }}-->
<!--        <div class="mb-3">-->
<!--            <label for="subject">제목</label>-->
<!--            <input type="text" class="form-control" name="subject" id="subject" value="{{form.subject.data or ''}}" required>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="content">내용</label>-->
<!--            <textarea class="form-control" name="content" id="content" rows="10" required>{{form.content.data or ''}}</textarea>-->
<!--        </div>-->
<!--        <button type="submit" class="btn bg-dark border-dark btn-primary">업로드</button>-->
<!--    </form>-->
    <form method="post" class="post-form my-3">
        <!-- 오류표시 Start -->
        {{ form.csrf_token }}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn bg-dark border-dark btn-primary">저장하기</button>
</div>
{%endblock%}